<section class="buttons">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <button onclick="window.open('http://www.inecontinuada.com.br/portaldoaluno/', '_blank');"><img
                        id="btn-aluno" src="https://www.inecontinuada.com.br/inec/public/images/icons/aluno.png" alt="Icon">Portal do Aluno</button>
                <button onclick="window.open('http://www.inecontinuada.com.br/portaldoprofessor/', '_blank');"><img
                        id="btn-professor" src="https://www.inecontinuada.com.br/inec/public/images/icons/professor.png" alt="Icon">Portal do Professor</button>
                <button onclick="window.open('http://www.inecontinuada.com.br/portaldoconsultor/', '_blank');"><img
                        id="btn-consultor" src="https://www.inecontinuada.com.br/inec/public/images/icons/consultor.png" alt="Icon">Portal do Consultor</button>
                <button onclick="window.open('http://www.inecontinuada.com.br/portaldaempresa/', '_blank');"><img
                        id="btn-empresas" src="https://www.inecontinuada.com.br/inec/public/images/icons/empresa.png" alt="Icon">Portal das Empresas</button>
            </div>
            <div class="col-sm-4">
                <div class="whatsb">
                    <a href="https://api.whatsapp.com/send?phone=5512991817059" target="_blank"><img
                            src="https://www.inecontinuada.com.br/inec/public/images/icons/whatsb.png" alt="Icon">(12) 99181-7059</a>
                </div>
                <div class="whatsb" style="margin-right: 15px;">
                    <a href="https://api.whatsapp.com/send?phone=551238326890" target="_blank"><img
                            src="https://www.inecontinuada.com.br/inec/public/images/icons/whatsb.png" alt="Icon">(12) 3832-6890</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="slider">
    <div class="banner-one with-span" id="banner-cursos">
        <div class="container">
            <div class="text-content">
                <strong>PÓS</strong>
                <span>GRADUAÇÃO</span>
            </div>
        </div>
    </div>
</div>

<section class="content" id="courses">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Presencial</h3>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box-course-page" data-toggle="modal" data-target="#presencialModal">
                            <img src="images/icons/board.png" alt="Icon">
                            <strong>COM AULAS PRESENCIAIS</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h3>EAD</h3>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box-course-page" data-toggle="modal" data-target="#eadModal">
                            <img src="images/icons/board.png" alt="Icon">
                            <strong>A DISTÂNCIA UTILIZANDO O AVA</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Og tags -->
<meta property="og:url" content="https://inecontinuada.com.br/">
<meta property="og:title" content="INEC" />
<meta property="og:type" content="website"/>
<meta property="og:description" content="Integração em Educação Continuada" />
<meta property="og:image" content="https://inecontinuada.com.br/images/og-image.png" />
<meta property="og:image:width" content="800">
<meta property="og:image:height" content="600">

<title>Inec</title>
<meta name="description" content="INEC">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="canonical" href="https://inecontinuada.com.br/">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<link rel="stylesheet" href="https://www.inecontinuada.com.br/inec/public/css/owl.carousel.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pretty-checkbox/3.0.0/pretty-checkbox.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://www.inecontinuada.com.br/inec/public/lightbox2-master/dist/js/lightbox-plus-jquery.min.js"></script>
<link href="https://www.inecontinuada.com.br/inec/public/lightbox2-master/dist/css/lightbox.css" rel="stylesheet">

<link rel="stylesheet" href="https://www.inecontinuada.com.br/inec/public/css/app.css?v=1.0.3">    </head>

    <body class="no-index">

        <header class="header-top">
	<div id="top">
		<div class="container">
			<div class="row">
				<div class="col">
					<ul class="animated fadeInUp delay-1s">
						<li><a href="https://www.inecontinuada.com.br/inec/public/dados-da-empresa">Dados da empresa</a></li>
						<li><a href="https://www.inecontinuada.com.br/inec/public/onde-estudar">Onde estudar</a></li>
						<li><a href="https://www.inecontinuada.com.br/inec/public/empresa">O inec</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<a href="https://www.inecontinuada.com.br/inec/public">
					<img id="logo" src="https://www.inecontinuada.com.br/inec/public/images/logov4.png" alt="Inec"
						class="float-left">
				</a>
				<ul class="nav justify-content-end">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
							aria-haspopup="true" aria-expanded="false">Cursos</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="https://portal.uniasselvi.com.br/graduacao" target="_blank">Graduação</a>
							<a class="dropdown-item" href="https://portal.uniasselvi.com.br/posgraduacao" target="_blank">Pós Graduação On-line</a>
							<a class="dropdown-item" href="https://www.inecontinuada.com.br/inec/public/pos-graduacao-presencial">Pós Graduação Presencial</a>
							<a class="dropdown-item" href="https://www.inecontinuada.com.br/inec/public/profissionalizantes">Profissionalizante Presencial</a>
							<a class="dropdown-item" href="https://eadaulas.com/inecubatuba/loja_virtual/">Profissionalizante EAD</a>
							<a class="dropdown-item" href="https://eadaulas.com/inecubatuba/loja_virtual/cursos.php?id=INFORM%C3%81TICA">Informática</a>
							<a class="dropdown-item" href="https://www.inecontinuada.com.br/inec/public/inscricao">EJA</a>
							<a class="dropdown-item" href="https://www.unienber.com/inec/">Mestrado e Doutorado</a>
							<a class="dropdown-item" href="https://www.cpetcursotecnico.com.br/ead/ineubatuba">Curso Técnico</a>
							<a class="dropdown-item" href="https://www.inecontinuada.com.br/inec/public/inscricao">Extensão Universitária</a>
							<a class="dropdown-item" href="https://www.inecontinuada.com.br/inec/public/workshop">Seminário</a>
						</div>
					</li>
					<!-- <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
							aria-haspopup="true" aria-expanded="false">Projetos</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="ipc">IPC - Ubatuba</a>
							<a class="dropdown-item" href="#">Revista Educação</a>
						</div>
					</li> -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
							aria-haspopup="true" aria-expanded="false">Professores</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="http://www.inecontinuada.com.br/portaldoprofessor/"
								target="_blank">Portal do Professor</a>
							<a class="dropdown-item" href="https://www.inecontinuada.com.br/inec/public/professores">Quadro de professores</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.inecontinuada.com.br/inec/public#partners">Parceiros</a>
					</li>
					<li class="nav-item" id="contact-us">
						<a class="nav-link" href="https://www.inecontinuada.com.br/inec/public/fale-conosco">Fale conosco</a>
					</li>
				</ul>
				<div id="btn-toggle-menu">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
		</div>
	</div>
</header>

<div id="menu-mobile" class="animated">
	<div id="mainmenu-mobile" style="display: block;">
		<div class="row">
			<div class="col">
				<p class="title-item-menu">Menu</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<ul>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cursos</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="https://portal.uniasselvi.com.br/graduacao" target="_blank">Graduação</a>
							<a class="dropdown-item" href="https://portal.uniasselvi.com.br/posgraduacao" target="_blank">Pós Graduação On-line</a>
							<a class="dropdown-item" href="https://www.inecontinuada.com.br/inec/public/pos-graduacao-presencial">Pós Graduação Presencial</a>
							<a class="dropdown-item" href="https://www.inecontinuada.com.br/inec/public/profissionalizantes">Profissionalizante Presencial</a>
							<a class="dropdown-item" href="https://eadaulas.com/inecubatuba/loja_virtual/">Profissionalizante EAD</a>
							<a class="dropdown-item" href="https://eadaulas.com/inecubatuba/loja_virtual/cursos.php?id=INFORM%C3%81TICA">Informática</a>
							<a class="dropdown-item" href="https://www.inecontinuada.com.br/inec/public/inscricao">EJA</a>
							<a class="dropdown-item" href="https://www.unienber.com/inec/">Mestrado e Doutorado</a>
							<a class="dropdown-item" href="https://www.cpetcursotecnico.com.br/ead/ineubatuba">Curso Técnico</a>
							<a class="dropdown-item" href="https://www.inecontinuada.com.br/inec/public/inscricao">Extensão Universitária</a>
							<a class="dropdown-item" href="https://www.inecontinuada.com.br/inec/public/workshop">Seminário</a>
						</div>
					</li>
					<!-- <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Projetos</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="ipc">IPC - Ubatuba</a>
							<a class="dropdown-item" href="#">Revista Educação</a>
						</div>
					</li> -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Professores</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="http://www.inecontinuada.com.br/portaldoprofessor/" target="_blank">Portal do Professor</a>
							<a class="dropdown-item" href="https://www.inecontinuada.com.br/inec/public/professores">Quadro de professores</a>
						</div>
					</li>
					<li>
						<a href="dados-da-empresa">Dados da empresa</a>
					</li>
					<li>
						<a href="onde-estudar">Onde estudar</a>
					</li>
					<li>
						<a href="empresa">O Inec</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="index#parceiros">Parceiros</a>
					</li>
					<li class="nav-item" id="contact-us">
						<a class="nav-link" href="fale-conosco">Fale conosco</a>
					</li>
					<li>
						<button onclick="window.open('https://portaldoaluno.inecontinuada.com.br/');"><img id="btn-aluno" src="https://www.inecontinuada.com.br/inec/public/images/icons/aluno.png" alt="Icon">Portal do Aluno</button>
					</li>
					<li>
						<button onclick="window.open('https://portaldoprofessor.inecontinuada.com.br/');"><img id="btn-professor" src="https://www.inecontinuada.com.br/inec/public/images/icons/professor.png" alt="Icon">Portal do Professor</button>
					</li>
					<li>
						<button onclick="window.open('https://portaldoconsultor.inecontinuada.com.br/');"><img id="btn-consultor" src="https://www.inecontinuada.com.br/inec/public/images/icons/consultor.png" alt="Icon">Portal do Consultor</button>
					</li>
					<li>
						<button onclick="window.open('https://portaldaempresa.inecontinuada.com.br/');"><img id="btn-empresas" src="https://www.inecontinuada.com.br/inec/public/images/icons/empresa.png" alt="Icon">Portal das Empresas</button>
					</li>
					<li>
						<div class="whatsb">
							<a href="https://api.whatsapp.com/send?phone=551238326890"><img src="https://www.inecontinuada.com.br/inec/public/images/icons/whatsb.png" alt="Icon">(12) 3832-6890</a>
						</div>
					</li>
					<!-- <li>
						<div class="phone-red">
							<a href="https://api.whatsapp.com/send?phone=551238326890"><img src="https://www.inecontinuada.com.br/inec/public/images/icons/telefone.png" alt="Icon"></a>
						</div>
					</li> -->
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="overlay-menu" class="animated fadeIn"></div>
        
        <footer>
	<div class="lgpd" id="cookie">
		<div class="container">
			Ao navegar neste site, você aceita os cookies que usamos para melhorar sua experiência. 
			<button id="btnClose" onclick="document.getElementById('cookie').style.display='none';">
				Entendi
			</button>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-12">			
				<img src="https://www.inecontinuada.com.br/inec/public/images/logov3.png" alt="Inec">
				<div id="icons-footer" class="icons-footer-desktop">
					<p>
						<br>
						<strong>SIGA-NOS</strong>
					</p>
					<a href="#"><img src="https://www.inecontinuada.com.br/inec/public/images/icons/facebook.png" alt="Facebook"></a>
					<a href="#"><img src="https://www.inecontinuada.com.br/inec/public/images/icons/instagram.png" alt="Instagram"></a>
					<a href="#"><img src="https://www.inecontinuada.com.br/inec/public/images/icons/linkedin.png" alt="Linkedin"></a>
				</div>
			</div>
			<div class="col-12 col-md">
				<strong>PORTAIS</strong>
				<ul>
					<li><a href="http://www.inecontinuada.com.br/portaldoaluno/" target="_blank">Portal do Aluno</a></li>
					<li><a href="http://www.inecontinuada.com.br/portaldoconsultor/" target="_blank">Portal do Consultor</a></li>
					<li><a href="http://www.inecontinuada.com.br/portaldoprofessor/" target="_blank">Portal do Professor</a></li>
					<li><a href="http://www.inecontinuada.com.br/portaldaempresa/" target="_blank">Portal da Empresa</a></li>
				</ul>
			</div>
			<div class="col-12 col-md">
				<strong>CURSOS</strong>
				<ul>
					<li><a href="https://www.inecontinuada.com.br/inec/public/inscricao">Extensão</a></li>
					<li><a href="https://portal.uniasselvi.com.br/graduacao" target="_blank">Graduação</a></li>
					<li><a href="https://portal.uniasselvi.com.br/posgraduacao/sp/ubatuba/educacao-especial-transtorno-do-espectro-autista?place=polo-uniasselvi-ceu-ubatuba&interest=4" target="_blank">Pós Graduação</a></li>
					<li><a href="https://www.inecontinuada.com.br/inec/public/profissionalizantes">Profissionalizante Presencial</a></li>
					<li><a href="https://eadaulas.com/inecubatuba/loja_virtual/">Profissionalizante EAD</a></li>
					<li><a href="https://eadaulas.com/inecubatuba/loja_virtual/cursos.php?id=INFORM%C3%81TICA">Informática</a></li>
					<li><a href="https://www.inecontinuada.com.br/inec/public/inscricao">EJA</a></li>
					<li><a href="https://www.unienber.com/inec/">Mestrado e Doutorado</a></li>
					<li><a href="https://www.cpetcursotecnico.com.br/ead/inecubatuba">Curso Técnico</a></li>
					<li><a href="https://www.inecontinuada.com.br/inec/public/inscricao">Extensão Universitária</a></li>
					<li><a href="https://www.inecontinuada.com.br/inec/public/workshop">Workshops e Palestras</a></li>
				</ul>
			</div>
			<div class="col-12 col-md">
				<strong>LINKS ÚTEIS</strong>
				<ul id="last-child-mobile">
					<li><a href="https://www.inecontinuada.com.br/inec/public/empresa">O INEC</a></li>
					<li><a href="https://www.inecontinuada.com.br/inec/public/dados-da-empresa">Dados da Empresa</a></li>
					<li><a href="https://www.inecontinuada.com.br/inec/public/onde-estudar">Onde Estudar</a></li>
					<li><a href="https://www.inecontinuada.com.br/inec/public/fale-conosco">Fale Conosco</a></li>
				</ul>
				<div id="icons-footer" class="icons-footer-mobile">
					<p>
						<br>
						<strong>SIGA-NOS</strong>
					</p>
					<a href="#"><img src="https://www.inecontinuada.com.br/inec/public/images/icons/facebook.png" alt="Facebook"></a>
					<a href="#"><img src="https://www.inecontinuada.com.br/inec/public/images/icons/instagram.png" alt="Instagram"></a>
					<a href="#"><img src="https://www.inecontinuada.com.br/inec/public/images/icons/linkedin.png" alt="Linkedin"></a>
				</div>
			</div>
		</div>
	</div>
	<div id="credits">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<p>© 2020 | Inec.  Todos os direitos reservados.</p>
				</div>
			</div>
		</div>
	</div>
</footer>
        <!-- Modal -->
<div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <h3 class="title"></h3>
                    <p>
                        <strong>Objetivo geral:</strong> <span class="objetivo"></span>
                    </p>
                    <p>
                        <strong>Público alvo:</strong> <span class="publico"></span>
                    </p>
                    <p>
                        <strong>Pré-requisitos:</strong> <span class="requisitos"></span>
                    </p>
                    <p>
                        <strong>Duração:</strong> <span class="duracao"></span>
                    </p>
                    <p class="display-none">
                        <strong>Carga horária:</strong> 90 horas.
                    </p>
                    <p>
                        <strong>Estrutura curricular:</strong>
                        <ul class="estrutura-curricular">
                        </ul>
                    </p>
                    <p>
                        <strong style="color: #006600;" class="desconto"></strong>
                    </p>
                    <p>
                        <strong>Forma de pagamento:</strong> <span class="valor"> </span>

                    </p>
                    <p>
                        <strong>Taxa de matrícula:</strong> <span class="taxa"></span>
                    </p>
                    <div class="row">
                        <div class="col-sm-4">
                            <button class="btn-modal"
                                onclick="window.location.href='https://www.inecontinuada.com.br/inec/public/inscricao';">INSCREVA-SE</button>
                        </div>
                        <div class="col-sm-4 offset-sm-4">
                            <button class="btn-modal" id="btn-red" data-dismiss="modal">CANCELAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="professionalModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <h3 class="title"></h3>
                    <p>
                        <strong>Objetivo geral:</strong> <span class="objetivo"></span>
                    </p>
                    <p>
                        <strong>Público alvo:</strong> <span class="publico"></span>
                    </p>
                    <p>
                        <strong>Pré-requisitos:</strong> <span class="requisitos"></span>
                    </p>
                    <p>
                        <strong>Duração:</strong> <span class="duracao"></span>
                    </p>
                    <p class="display-none">
                        <strong>Carga horária:</strong> 90 horas.
                    </p>
                    <p>
                        <strong style="color: #006600;" class="desconto"></strong>
                    </p>
                    <p>
                        <strong>Forma de pagamento:</strong> <span class="valor"> </span>
                    </p>
                    <p>
                        <strong>Taxa de matrícula:</strong> <span class="taxa"></span>
                    </p>
                    <div class="row">
                        <div class="col-sm-4">
                            <button class="btn-modal"
                                onclick="window.location.href='https://www.inecontinuada.com.br/inec/public/inscricao';">INSCREVA-SE</button>
                        </div>
                        <div class="col-sm-4 offset-sm-4">
                            <button class="btn-modal" id="btn-red" data-dismiss="modal">CANCELAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="workshopModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <h3 class="title"></h3>
                    <p>
                        <strong>Objetivo geral:</strong> <span class="objetivo"></span>
                    </p>
                    <p>
                        <strong>Público alvo:</strong> <span class="publico"></span>
                    </p>
                    <p>
                        <strong>Pré-requisitos:</strong> <span class="requisitos"></span>
                    </p>
                    <p>
                        <strong>Duração:</strong> <span class="duracao"></span>
                    </p>
                    <p class="display-none">
                        <strong>Carga horária:</strong> 90 horas.
                    </p>
                    <p>
                        <strong style="color: #006600;" class="desconto"></strong>
                    </p>
                    <p>
                        <strong>Investimento total:</strong> <span class="investimento"></span>
                    </p>
                    <p>
                        <strong>Forma de pagamento:</strong> <span class="valor"> </span>

                    </p>
                    <div class="row">
                        <div class="col-sm-4">
                            <button class="btn-modal"
                                onclick="window.location.href='https://www.inecontinuada.com.br/inec/public/inscricao';">INSCREVA-SE</button>
                        </div>
                        <div class="col-sm-4 offset-sm-4">
                            <button class="btn-modal" id="btn-red" data-dismiss="modal">CANCELAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="presencialModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <h3>Presencial</h3>
                    <p>
                        <strong>Certificado:</strong> Emitido por instituições reconhecidas e autorizadas pelo MEC para
                        oferecer seus respectivos cursos.<br>
                        O INEC oferece cursos de Pós-Graduação Presenciais de duas instituições:
                        <img src="images/logo-famesc.png" alt="Logo">
                    </p>
                    <p>
                        <strong>Professores:</strong> Todos Especialistas, Mestres ou Doutores, de acordo com as
                        exigências do MEC.
                    </p>
                    <p>
                        <strong>Avaliação:</strong> Feita em sala de aula e eventualmente, se o professor considerar
                        necessário, também através de trabalho a ser desenvolvido fora da sala de aula.
                    </p>
                    <p>
                        <strong>Duração:</strong> A partir de 12 meses
                    </p>
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3">
                            <button class="btn-modal" onclick="window.location.href='https://www.inecontinuada.com.br/inec/public/pos-graduacao-presencial';">PREFIRO
                                PRESENCIAL</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="eadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <h3>EAD</h3>
                    <p>
                        <strong>Certificado:</strong> Emitido pela UNINOVE (Universidade Nove de Julho), reconhecida e
                        autorizadas pelo MEC para oferecer seus respectivos cursos. Os cursos são modulares, portanto,
                        ao término de cada módulo você receberá uma certificação que melhora continuamente sua
                        qualificação para o mercado de trabalho.<br>
                        <img src="images/logo-uninove.png" alt="Logo">
                    </p>
                    <p>
                        <strong>As aulas:</strong> É utilizada a mais moderna plataforma de ensino a distância o AVA
                        (Ambiente Virtual de Aprendizagem), acessada através do computador. Você também pode utilizar os
                        computadores disponíveis nas Unidades Avançadas da UNINOVE.
                    </p>
                    <p>
                        <strong>Professores:</strong> Todos Especialistas, Mestres ou Doutores, de acordo com as
                        exigências do MEC.
                        <p>
                            <strong>Avaliação:</strong> Existirão avaliações feitas dentro do AVA durante todo o curso e
                            ocorrerá uma prova presencial, que será aplicada em apenas um sábado ao final do curso,
                            conforme cronograma a ser encaminhado para cada aluno.
                        </p>
                        <p>
                            <strong>Duração:</strong> A partir de 12 meses
                        </p>
                        <div class="row">
                            <div class="col-sm-6 offset-sm-3">
                                <button class="btn-modal"
                                    onclick="window.open('https://www.uninove.br/pos-graduacao/', '_blank');">PREFIRO
                                    EAD</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
<script src="https://www.inecontinuada.com.br/inec/public/js/app.js"></script>
<script src="https://www.inecontinuada.com.br/inec/public/js/owl.carousel.min.js"></script>

<script type="text/javascript">
	const setData =(idModal, curso) => {
		$(`#${idModal} .title`).text(curso.nome);
        $(`#${idModal} .objetivo`).text(curso.objetivo);
        $(`#${idModal} .publico`).text(curso.publico);
        $(`#${idModal} .requisitos`).text(curso.requisitos);
	}
	const setDesconto = (idModal, curso) => {
		let valor = (curso.valor/curso.duracao);
		if(curso.hasDesconto === true){
			let valorDesconto =  valor -valor* (curso.desconto/ 100);
			$(`#${idModal} .desconto`).text(`Desconto especial de ${curso.desconto} %`);
			$(`#${idModal} .valor`).html(`de ${curso.duracao} X R$ ${(floatToReal(valor))} por apenas <strong> ${curso.duracao} X R$ ${floatToReal(valorDesconto)} mensais </strong>`);
		}else{
			$(`#${idModal} .valor`).html(`${curso.duracao} X R$ ${floatToReal(valor)}`);
		}
	}
	function floatToReal(n, c, d, t) {
    c = isNaN(c = Math.abs(c)) ? 2 : c, d = d == undefined ? "," : d, t = t == undefined ? "." : t, s = n < 0 ? "-" :
        "", i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", j = (j = i.length) > 3 ? j % 3 : 0;
    return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n -
        i).toFixed(c).slice(2) : "");
}

	$('.main').on('click', function(){
        let curso = $(this).data('curso');
        setData('courseModal', curso);
		$('#courseModal .duracao').text(`${curso.duracao} meses`);
		let html = '';
		curso.estrutura.forEach((item, key) =>html += `<li>- ${item.nome} </li>`);
		$('#courseModal .estrutura-curricular').html(html);
		setDesconto('courseModal', curso);
		$('#courseModal .taxa').text(`R$ ${floatToReal(curso.inscricao)}`);

		$('#courseModal').modal('show');
    });
	$('.professional').on('click', function(){
		let curso = $(this).data('curso');
		let duracao = curso.duracao == 1 ? '1 mês' :  `${curso.duracao} meses`;

        setData('professionalModal', curso);
		$('#professionalModal .duracao').text(duracao);

		setDesconto('professionalModal', curso);
		
		$('#professionalModal .taxa').text(`R$ ${floatToReal(curso.inscricao)}`);
		$('#professionalModal').modal('show');
    });
	$('.workshop').on('click', function(){
		let curso = $(this).data('curso');
        setData('workshopModal', curso);
		$('#workshopModal .duracao').text(`${curso.total} horas`);
		setDesconto('workshopModal', curso);
		$('#workshopModal .investimento').text(`R$ ${floatToReal(curso.inscricao)}`);
		$('#workshopModal').modal('show');
    });
	
		$(document).ready(function(){
			$(".products-carousel").owlCarousel({
				loop:true,
				margin:12,
				nav:true,
				dots: false,
				autoplay: true,
				autoplayTimeout: 3000,
				smartSpeed: 800,
				navText: ["<img src='images/nav-left.png'>","<img src='images/nav-right.png'>"],
				responsive:{
					992:{
						items:3
					},
					480:{
						items:2
					},
					0:{
						items:1
					}
				}
			});

			$(".posts-carousel").owlCarousel({
				loop:true,
				margin:12,
				nav:true,
				dots: false,
				navText: ["<img src='images/nav-left.png'>","<img src='images/nav-right.png'>"],
				responsive:{
					992:{
						items:3
					},
					480:{
						items:2
					},
					0:{
						items:1
					}
				}
			});

			$(".customers-carousel").owlCarousel({
				loop:true,
				margin:12,
				nav:true,
				dots: false,
				navText: ["<img src='images/nav-left.png'>","<img src='images/nav-right.png'>"],
				responsive:{
					992:{
						items:5
					},
					480:{
						items:3
					},
					0:{
						items:2
					}
				}
			});
		});

</script>
        
    </body>

</html>
