* {
	font-family: 'Open Sans', sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
}

body.index{
    padding-top: 104px;
}

button, button:focus {
    outline: none;
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}

body.no-index {
    padding-top: 104px;
}

@media(max-width: 1200px){
    body.index{
        padding-top: 54px;
    }
    body.no-index {
        padding-top: 66px;
    } 
}
.display-none {
    display: none;
}

header {
    position: fixed;
    background: #fff;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    transition: .3s;
}

#logo {
    width: 150px;
    padding: 5px 0;
}

.nav {
    margin-top: 19px;
}

.nav > li > a {
    font-size: 14px;
    text-transform: uppercase;
    color: #2b348e;
    text-decoration: none;
    transition: .4s;
    font-weight: bold;
}

.nav > li > a:hover {
	opacity: .8;
}

.nav i.fa.fa-angle-down {
    color: #3881b7;
    font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
}

li#contact-us {
    background: #3881b7;
}

.nav > li#contact-us > a{
    color: #fff;
}

.dropdown-toggle::after {
    color: #3881b7;
}

#btn-toggle-menu {
    cursor: pointer;
    display: none;
    position: relative;
    width: 28px;
    float: right;
    padding: 19px 0;
}

#btn-toggle-menu div {
    opacity: 1;
    background-color: #ef1b24;
    height: 3px;
    border-radius: 3px;
    margin: 2px 0;
    float: right;
    transition: all 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#btn-toggle-menu div:first-child, #btn-toggle-menu div:nth-child(3n) {
    width: 80%;
}

#btn-toggle-menu div:nth-child(2n), #btn-toggle-menu div:nth-child(4n) {
    width: 100%;
}

#btn-toggle-menu.menu-close div:first-child, #btn-toggle-menu.menu-close div:nth-child(3n){
    opacity: 0;
    transition: opacity 0s ease-in-out;
}

#btn-toggle-menu.menu-close div:nth-child(2n) {
    -webkit-transform: translateY(6px) rotate(45deg);
    transform: translateY(6px) rotate(45deg);
    position: absolute;
    top: 18px;
}

#btn-toggle-menu.menu-close div:nth-child(4n) {
    -webkit-transform: translateY(6px) rotate(-45deg);
    transform: translateY(6px) rotate(-45deg);
    position: absolute;
    top: 18px;
}

#menu-mobile {
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 267px;
    max-width: 100%;
    background-color: #3881b7;
    box-shadow: 4px 0px 12px 0px rgba(0, 0, 0, 0.5);
}

#menu-mobile p {
    margin-top: 12px;
    margin-bottom: 15px;
    margin-left: 14px;
    color: #2b348e;
    font-size: 18px;
    font-weight: bold;
}

#mainmenu-mobile ul{
    padding: 0 0 0 14px;
    list-style: none;
}

#menu-mobile ul li {
    margin-bottom: 3px;
}

#menu-mobile .nav-link{
    padding: 0;
}

#menu-mobile ul li a{
    color: #fff;
}

#menu-mobile .dropdown-toggle::after {
    color: #2b348e;
}

#menu-mobile button {
    background: #135e96;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    margin-right: 8px;
    border-radius: 3px;
    padding: 3px 9px;
    outline: none;
    margin: 3px 0;
    /*margin: 6px 8px 6px 14px;*/
}

#menu-mobile .whatsb, #menu-mobile .phone-red{
    float: none;
}

#menu-mobile .whatsb {
    background: #2c3d92;
    height: 42px;
    padding: 8px 10px 0;
    width: 179px;
    border-radius: 3px;
    margin: 13px 0 10px;
}

#menu-mobile .phone-red{
    margin-left: 0;
    width: 179px;
    border-radius: 3px;
}

.dropdown-menu a{
    color: #2c3d92;
}

#menu-mobile .dropdown-menu a{
    color: #2c3d92;
}

@media(max-width: 1200px){
    header {
        height: 66px;
    }

    #logo {
        padding: 12px 0 18px;
        width: 100px;
    }

    #menu, #top, .nav {
        display: none;
    }

    #btn-toggle-menu {
        display: block;
    }
}

#box-search {
    width: 230px;
    margin: 11px 0 0 10px;
}

#box-search > input, #box-search > input:focus {
    background-color: #1b1b1b;
    border: none;
    padding: 8px 20px;
    border-radius: 44px;
    outline: none;
    box-shadow: none;
    color: #fff;
}

#box-search > img {
    width: 27px;
    height: 27px;
    position: absolute;
    right: 14px;
    top: 6px;
    z-index: 4;
    background: #1b1b1b;
    padding: 4px;
}

#top {
    background-color: #2b348e;
    padding: 2px 0;
}

#top ul {
	margin: 0;
	padding: 0;
}

#top ul li {
    margin: 0;
    padding: 0;
    display: inline;
    float: right;
}

#top ul li > a {
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    padding: 0 10px;
    border-left: solid 1px #fff;
    text-decoration: none;
}

#top ul li:last-child > a {
	border-left: none;
}

.buttons {
    background: #3881b7;
}

.buttons button {
    background: #135e96;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    margin-right: 8px;
    border-radius: 3px;
    padding: 3px 9px;
    outline: none;
    margin: 6px 8px 6px 0;
}

img#btn-aluno {
    width: 25px;
    margin-right: 11px;
    margin-top: 2px;
}

img#btn-professor, img#btn-consultor {
    width: 22px;
    margin-right: 10px;
    margin-top: 1.02px;
}

img#btn-empresas {
    width: 19.83px;
    margin-right: 10px;
    margin-top: 1px;
}

div.phone-red {
    float: right;
    background: #ee1e20;
    padding: 8px 10px 0;
    height: 42px;
    margin-left: 15px;
}

div.whatsb {
    float: right;
    margin-top: 8px;
}

.whatsb a, .phone-red a {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.whatsb img {
    width: 23px;
    margin-right: 5px;
    vertical-align: bottom;
}

.phone-red img {
    width: 23px;
    margin-left: 0;
    margin-right: 5px;
    vertical-align: bottom;
}

@media(max-width: 1200px){
    .buttons{
        display: none;
    }
}

#banner-home {    
    background: url(../images/banners/home.jpg) no-repeat center bottom;
    min-height: 362px;
    background-size: 100%;
}

.banner-one span {
    display: inherit;
    font-size: 35px;
    color: #fff;
    line-height: 40px;
}

.banner-one strong {
    display: inherit;
    font-weight: 900;
    font-size: 38px;
    line-height: 57px;
    color: #fff;
}

.banner-one .text-content {
    top: 50%;
    transform: translateY(40%);
}

.btn-blue {
    border: none;
    color: #fff;
    background: #3881b7;
    margin-top: 35px;
    font-size: 15px;
    padding: 10px 29px;
    position: relative;
}

.btn-blue #border-btn {
    position: absolute;
    height: 29px;
    border: 1px solid #fff;
    width: 190px;
    top: 20px;
    left: 6px;
    z-index: -1;
}

@media(max-width: 991px){
    .banner-one {
        background-size: 600px !important;
        background: #3881b7 !important; /* Old browsers */
        background: -moz-linear-gradient(left,  #2b348e 0%, #3881b7 100%) !important; /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #2b348e 0%, #3881b7 100%) !important; /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  #2b348e 0%, #3881b7 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3881b7', endColorstr='#2b348e',GradientType=1 ); /* IE6-9 */
    }

    .banner-one span {
        font-size: 27px;
    }

    .banner-one strong {
        display: inherit;
        font-weight: 900;
        font-size: 30px;
        line-height: 40px;
        margin-top: 12px;        
    }
}

@media(max-width: 565px){
    .banner-one {
        background: url(../images/banners/one.png) no-repeat center bottom;
        background-size: 100%;
        background-color: #e1e3e4;
    }
}

.pos-banner{
    background: #3881b7; /* Old browsers */
    background: -moz-linear-gradient(left,  #3881b7 0%, #2b348e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #3881b7 0%,#2b348e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #3881b7 0%,#2b348e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3881b7', endColorstr='#2b348e',GradientType=1 ); /* IE6-9 */
    margin-top: -1px;
    padding: 25px 0;
}

.pos-banner p {
    color: #fff;
    font-size: 20px;
    margin: 5px 0 0 0;
}

.pos-banner .btn-blue{
    margin-top: 0;
}

@media(max-width: 768px){
    .pos-banner{
        padding: 15px 0 20px;
    }
    .pos-banner p{
        margin: 0 0 10px 0;
    }
    .pos-banner .btn-blue{
        color: #3881b7;
        background: #fff;
    }
}

.content {
    background: url(../images/fundo-content.png)center;
    background-size: cover;
    padding-bottom: 40px;
}

.content h3 {
    color: #2b348e;
    font-weight: 900;
    margin: 30px 0;
}

.box-course {
    background: #2b348e;
    color: #fff;
    padding: 25px 20px;
    position: relative;
    margin-bottom: 60px;
}

.box-course p{
    margin-top: 15px;
}

.box-course button {
    background: #3881b7;
    border: none;
    color: #fff;
    padding: 7px 13px;
    outline: none;
}

div#border-box {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid #3881b7;
    top: 10px;
    left: 10px;
    z-index: -1;
}

.box-project-home {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
}

.box-project-home img{
    width: 100%;
}

.content-project {
    background: #eee;
    padding: 20px 15px 25px;
    color: #000;
    margin-bottom: 60px;
}

.content-project p {
    margin-top: 15px;
}

#banner-inec {    
    background: url(../images/banners/inec.jpg) no-repeat center bottom;
    min-height: 362px;
    background-size: 100%;
}

.no-index .banner-one {
    padding-top: 113px;
}

@media(max-width: 991px){
    .no-index .banner-one {
        padding-top: 90px;
    }
}

.no-index .content h3{
    margin-bottom: 45px;
}

.box-company {
    background: #eeeeee;
    padding: 40px;
    font-size: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.38);
    border-radius: 3px;
    margin-top: 45px;
}

.box-company {
    background: #eeeeee;
    padding: 40px 30px;
    font-size: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.38);
    border-radius: 3px;
    margin-top: 45px;
    min-height: 736px;
}

.no-index .content {
    padding-top: 15px;
    padding-bottom: 80px;
}

#banner-cursos {    
    background: url(../images/banners/cursos.jpg) no-repeat center bottom;
    min-height: 362px;
    background-size: 100%;
}

#banner-cursos strong{
    font-size: 36px;
}

.no-index .with-span {
    padding-top: 74px;
}

@media(max-width: 768px){
    #banner-cursos strong, #banner-cursos span {
        font-size: 22px;
    }
    
    .no-index .with-span{
        padding-top: 55px;
    }
}

.box-course-page {
    background: #eeeeee;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.38);
    padding: 15px 0 15px 15px;
    margin-bottom: 40px;
}

.box-course-page:hover{
    cursor: pointer;
}

.box-course-page img {
    width: 30px;
    margin-right: 5px;
}

.box-course-page strong{
    color: #000;
    font-size: 15px;
}

.modal-dialog{
    max-width: 680px;
}

.modal-body {
    padding: 50px;
}

.modal h3{
    color: #2b348e;
    font-weight: 900;
    margin-bottom: 45px;
    text-align: center;
}

.modal p {
    font-size: 15px;
}

.modal-body ul {
    list-style: none;
    padding: 0;
}

.modal-body ul li {
    font-size: 13px;
    margin-bottom: 3px;
}

button.btn-modal {
    background: #3881b7;
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 13px;
    border-radius: 3px;
    margin-top: 30px;
}

button#btn-red{
    background: #e91d24;
}

#banner-ipc {    
    background: url(../images/banners/ipc.jpg) no-repeat center bottom;
    min-height: 362px;
    background-size: 100%;
}

.box-project {
    background: #eeeeee;
    padding: 40px 30px;
    font-size: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.38);
    border-radius: 3px;
    min-height: 492px;
}

#banner-fale-conosco {    
    background: url(../images/banners/fale-conosco.jpg) no-repeat center bottom;
    min-height: 357px;
    background-size: 100%;
}

.box-form {
    background: #eeeeee;
    padding: 30px 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.38);
    border-radius: 3px;
}

.box-form label {
    color: #2b348e;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
}

.box-form input, .box-form select, .box-form textarea {
    border: 1px solid rgba(43, 52, 142, 0.59);
    border-radius: 2px;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    outline: none;
    font-size: 14px;
}

.box-form textarea{
    height: 120px;
    resize: none;
}

.box-form button {
    width: 100%;
    background: #3881b7;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 9px;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
}

#box-right {
    padding: 30px 5px 30px 15px;
    min-height: 225px;
}

.box-form ul {
    list-style: none;
    padding: 0;
}

.box-form ul li {
    margin-bottom: 20px;
}

.box-form div.whatsb a{
    color: #2b348e;
}

.box-form div.whatsb, .box-form div.phone-red{
    float: none;
}

.box-form div.phone-red {
    background: #3881b7;
    width: 160px;
    margin-left: -10px;
}

.box-form .place img {
    width: 18px;
    margin-right: 10px;
    float: left;
    margin-top: 5px;
}

.box-form .place a {
    color: #2b348e;
    font-weight: bold;
    font-size: 14px;
    float: right;
}

#banner-inscricao {    
    background: url(../images/banners/inscricao.jpg) no-repeat center bottom;
    min-height: 357px;
    background-size: 100%;
}

#inscricao h3{
    text-align: center;
}

#inscricao small {
    color: #777777;
    font-style: italic;
    display: flex;
    margin-top: 20px;
}

#banner-onde-estudar {    
    background: url(../images/banners/onde-estudar.jpg) no-repeat center bottom;
    min-height: 357px;
    background-size: 100%;
}

#onde-estudar h3{
    margin-bottom: 35px;
}

#onde-estudar h3:hover{
    cursor: pointer;
}

.no-index #onde-estudar{
    padding-bottom: 30px;
}

.box-address {
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 20px;
    margin-bottom: 25px;
    display: none;
}

.box-address strong {
    float: left;
    padding-right: 20px;
    border-right: 1px solid #3881b7;
}

.box-address p {
    padding: 0 20px;
    float: left;
    border-right: 1px solid #3881b7;
}

.box-address a {
    display: flex;
    padding-left: 20px;
    font-weight: bold;
    color: #2b348e;
}

#presencialModal img, #eadModal img {
    max-width: 150px;
    margin: 15px auto 0;
    display: flex;
}

.owl-prev, .owl-next, .owl-prev:focus, .owl-next:focus {
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media(max-width: 1200px){
    .owl-prev, .owl-next, .owl-prev:focus, .owl-next:focus {
        display: none;
    }
}

.owl-prev img, .owl-next img {
    width: 50px;
}

.owl-prev {
    left: -65px;
}


.owl-next {
    right: -65px;
}

.box-category {
    cursor: pointer;
    background-color: #d6d7d9;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 6px;
    overflow: hidden;
}

.box-img-category {
    width: 100%;
    height: 400px;
    position: relative;
}

.box-img-category img {
    position: absolute;
    z-index: 2;
    margin: 0;
    max-width: 80%;
    max-height: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    transition: .4s;
}

.box-img-category:hover img {
    max-width: 85%;
    max-height: 85%;
}

.box-title-category {
    padding: 0 15px;
    height: 45px;
    overflow-y: hidden;
}

.box-title-category h2 {
    font-weight: 900;
    font-size: 18px;
    text-align: center;
}

.col-categories {
    padding-right: 6px;
    padding-left: 6px;
}

.row-categories {
    margin-right: -6px;
    margin-left: -6px;
}

.posts > div > img {
    width: 100%;
}

.box-customer {
    height: 145px;
    background-color: #fff;
    border-radius: 10px;
}

.box-customer img {
    position: absolute;
    z-index: 2;
    margin: 0;
    max-width: 60%;
    max-height: 70%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    transition: .4s;
}

.btn-facebook, .btn-linkedin {
    outline: none;
    background-color: #27272b;
    border: none;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.btn-facebook img, .btn-linkedin img {
    margin-top: -4px;
}

#banner-dados-empresa {    
    background: url(../images/banners/dados-empresa.jpg) no-repeat center bottom;
    min-height: 357px;
    background-size: 100%;
}

iframe{
    margin-top: 20px;
}

#banner-professores {    
    background: url(../images/banners/professores.jpg) no-repeat center bottom;
    min-height: 357px;
    background-size: 100%;
}

.box-teacher strong{
    float: left;
    margin-right: 20px;
}

.box-teacher p{
    font-size: 15px;
    margin-bottom: 0;
}

#professores .box-course-page {
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
}

@media(max-width: 768px){
    #banner-home, #banner-cursos, #banner-dados-empresa, #banner-onde-estudar, #banner-inec, #banner-fale-conosco, #banner-ipc, #banner-professores, #banner-inscricao{
        min-height: 290px;
    } 
}

footer {
    background-color: #eee;
    padding: 60px 0 0;
}

footer ul {
    margin: 15px 0;
    padding: 0;
}

footer ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: #2b348e;
    font-size: 14px;
}

footer p {
    font-size: 14px;
    color: #2b348e;
}

footer strong {
    color: #2b348e;
    font-size: 18px;
    display: inherit;
}

footer > .container {
    margin-bottom: 30px;
}

footer img {
    margin-top: 5px;
    width: 175px;
}

#icons-footer p {
    margin-bottom: 5px;
    margin-left: 35px;
}

#icons-footer img {
    width: 45px;
    margin-right: 5px;
}

#credits {
    padding: 25px 0;
    background: #2b348e;
}

#credits p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}

.icons-footer-mobile{
    display: none;
}

@media(max-width: 1200px){
    .icons-footer-desktop{
        display: none;
    }
    .icons-footer-mobile{
        display: block;
    }
    footer img {
        margin-top: 5px;
        width: 175px;
        margin-bottom: 35px;
    }
    footer ul {
        margin: 5px 0 30px;
        padding: 0;
    }
    #last-child-mobile{
        margin: 5px 0 10px;
    }
    footer > .container {
        margin-bottom: 0;
    }
}

@media(max-width: 768px){
    footer{
        padding: 35px 0 0;
    }
}

@media(max-width: 575px){
    #credits a {
        text-align: left;
        float: left;
    }
}

.breadcrumb-item+.breadcrumb-item::before {
    margin-left: 15px;
    margin-right: 15px;
    background-image: url(../images/icons/breadcrumb-next.png);
    width: 8px;
    height: 23px;
    background-size: 8px 8px;
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
    float: left;
    padding-left: 0;
    padding-right: 0;
}

.breadcrumb {
    padding: 20px 0;
    margin-bottom: 0;
    background-color: transparent;
}

.breadcrumb-item a {
    list-style: none;
    color: #000;
    text-transform: uppercase;
}

.breadcrumb-item.active {
    text-transform: uppercase;
}

#box-title h1 {
    font-weight: 900;
    font-size: 35px;
    text-transform: uppercase;
}

.box-filter {
    position: relative;
}

.box-filter button.btn-control-filter {
    position: absolute;
    top: 0;
    right: 15px;
    height: 20px;
    width: 15px;
    background-color: transparent;
    border: none;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center right;
}

.box-filter button.btn-control-filter.filter-open {
    background-image: url(../images/icons/less.png);
}

.box-filter button.btn-control-filter.filter-closed {
    background-image: url(../images/icons/plus.png);
}


.box-filter ul {
    margin: 18px 0 0;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
}

.box-filter ul li {
    list-style: none;
    margin: 5px 0;
    padding: 0;
    font-size: 14px;
}

.box-filter h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 0;
    padding-right: 20px;
}

.img-loading {
    display: table;
    margin: 0 auto;
}

.lgpd {
    bottom: 0;
    background: orange;
    position: fixed;
    z-index: 2000;
    width: 100%;
    color: white;
    text-align: center;
    padding: 17px;
    font-size: 17px;
}

.lgpd button {
    background: #2b9d16;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    border-bottom: solid 3px green;
    outline: none;
}